{% extends "blog/base.html" %}
{% block content %}
<div class="container">
<div id="home">
	{% if user.is_authenticated %}
		<div class="landing-text">
			<h1> Aj's Dashboard</h1>
			<img src="media\Home.jpg" alt="Aj's Dashboard">
			<h3>You will find all the latest updates of your project here</h3>
		</div>
	{% else %}
		<div class="landing-text">
			<h1> Aj's Dashboard</h1>
			<img src="media\Home.jpg" alt="Aj's Dashboard">
			<h3>You will find all the latest updates of your project here</h3>
	 	    <a class="btn btn-outline-info mb-4" href="{% url 'login' %}">Login</a>
		</div>

     {% endif %}

</div>
</div>
{% endblock content %}
